<h2>New User</h2>
<div class="edit-user-form">
<p class="updateMsg notShow">Success!</p>
	<div class="items">
	    <label>First Name</label>
	    <input name="firstName" type="text" value="">
    </div>
    <div class="items">
	    <label>Last Name</label>
	    <input name="lastName" type="text" value="">
    </div>
    <div class="items">
	    <label>Age</label>
	    <input name="age" type="text" value="" class="inputAge">
    </div>
    <hr />
    <button class="btn createBtn">Create</button>
    <a href=""><button class="btn">List</button></a>
</div>